# 6.1 Task Sourcing Open Data - Importing Data & Data Cleaning
## Contents List:
#### 1. Import Libraries and Data
#### 2. Consistency Checks

## 1. Import Libraries and Data

In [1]:
# import libraries

import pandas as pd
import numpy as np
import os

# assign path

path = r'C:\Users\X1\House Sales Analysis Master'

In [2]:
# import House Sales dataset

df = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','house_data_cleaned.csv'), index_col = False)

#### *Note - I conducted initial data cleaning in Excel:
#### 1. Date: "Original data displayed as "20141013T000000" Used =LEFT, =MID, and =CONCATENATE to create new date column in mm/dd/yyyy format.
#### 2. Price: Changed to Accounting format.

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/09/2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,02/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/09/2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,02/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21603 entries, 0 to 21602
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21603 non-null  int64
 1   date           21603 non-null  object
 2   price          21603 non-null  float64
 3   bedrooms       21603 non-null  int64
 4   bathrooms      21603 non-null  float64
 5   sqft_living    21603 non-null  int64
 6   sqft_lot       21603 non-null  int64
 7   floors         21603 non-null  float64
 8   waterfront     21603 non-null  int64
 9   view           21603 non-null  int64
 10  condition      21603 non-null  int64
 11  grade          21603 non-null  int64
 12  sqft_above     21603 non-null  int64
 13  sqft_basement  21603 non-null  int64
 14  yr_built       21603 non-null  int64
 15  yr_renovated   21603 non-null  int64
 16  zipcode        21603 non-null  int64
 17  lat            21603 non-null  float64
 18  long           21603 non-null  float64
 19  sqft_living15  21603 non-null  int64
 20  sqft_lot15     21603 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [5]:
df.shape

(21603, 21)

## 2. Consistency Checks

In [ ]:
# Check for mixed data type

for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print (col)
        
# No mixed-type columns

In [8]:
# Check for missing values

df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [9]:
# No missing values

In [10]:
# Check for duplicates

df_dups = df[df.duplicated()]
df_dups.shape

(0, 21)

In [11]:
# No duplicates